.auth-container {
    margin-top: 1.75rem;
	display: flex;
	justify-content: center;
}

.auth-card-header {
    background-image: url("../img/bg-1.jpg");
    background-size: cover;
    height: 200px;
}

.submit-text {
    font-size: 20px;
}

.auth-form {
    text-align: left;
}

.global-error-message {
    margin-bottom: 0;
    color: #dc3545;
}

.error-message {
    margin: 3px;
    color: red;
    font-style: italic;
}