.no-properties {
    min-height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
}

.property-card {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 25px 50px 25px;
}

.status-label {
    position: absolute;
    top: -15px;
    left: 5px;
    color: rgb(255, 255, 255);
    padding: 2px 8px;
    font-size: 16px;
    border-radius: 3px;
}

.property-card img {
    object-fit: cover;
    height: 200px;
}

.property-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.stars {
    color: #ffb700;
}

.property-card p span {
    font-style: italic;
}

.property-card .card-text {
    font-size: 0.9rem;
    color: #555;
}

.hasNoAccessibleRoom {
    margin: 1rem 1rem 0;
    font-size: 14px;
    font-style: italic;
    color: #c82333;
}
.hasNoAccessibleRoom:hover {
    color: #c82333;
}

.property-card .card-footer a,
.property-card .card-footer button {
    margin: 0;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}