.custom-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-content {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 12px;
    width: 65%;
    max-height: 680px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: modalFadeIn 0.25s ease-in-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.x-close {
    text-align: end;
    margin-bottom: 0.25rem;
}

.x-close span {
    cursor: pointer;
}

.room-user-actions {
    display: flex;
    justify-content: end;
    margin-top: 0.25rem;
}

    .room-user-actions span {
        margin-right: 1rem;
    }

.view {
    color: #7ab730;
    cursor: pointer;
}

.edit {
    color: orange;
    cursor: pointer;
}

.delete {
    color: #c82333;
    cursor: pointer;
}

.facilities {
    display: inline-block;
    margin-right: 0.5rem;
}